<section class="section section-lg section-nucleo-icons pb-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-left">
        <h1 class="display-3"  style="font-size : 32px; color:#0271bb;word-spacing: 4px;">IT-Solution l'entreprise</h1>
        <div class="col-lg-12" style="height: 2px;background-color: #0271bb;
        margin-bottom: 20px;">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 text-left">
        <h1 class="display-3"  style="font-size : 22px;">
          Installé sur Casablanca, Marrakech et Dortmund IT-Solution REN Academy est un centre de formation et
           certification professionnelle dédiées aux métiers de SAP, avec un expertise de plus de 15 ans on vous
            offre des formations d’excellence qualifiantes et certifiantes pour les différents Module de SAP S/4 HANA.        </h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 text-left">
        <h1 class="display-3"  style="font-size : 16px;color:#0271bb;">
          <i class="fa fa-check"></i> Nous offrons la meilleure expérience d'apprentissage à nos futurs consultants afin de les accompagner dans leurs objectifs professionnels, dans le cadre d’un apprentissage personnalisé et adaptés aux exigence du Marche.
        </h1>
        <h1 class="display-3"  style="font-size : 16px;color:#0271bb;">
          <i class="fa fa-check"></i> Profiter d’un accompagnement et d’une préparation de qualité pour passer en toute aisance vos Examens de certifications et pour décrocher votre statut de Consultant SAP S/4 HANA.
        </h1>
      </div>
    </div>
    
    <div class="blur--hover">
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
          <i class="icon ni" > 
            <img src="../../../assets/img/brand/logo_gray.png" style="width:60px; height:60px">
          </i>
          <!-- Right 1 -->
          <i class="icon icon-sm">
            <img src="../../../assets/img/brand/logo_its_only.png" style="width:76px; height:62px">
          </i>
          <i class="icon icon-sm ni ni-money-coins"></i>
          <i class="icon icon-sm ni ni-bulb-61"></i>
          <!-- Right 2 -->
          <i class="icon ni ni-single-copy-04"></i>
          <i class="icon ni ni-bell-55"></i>
          <i class="icon ni ni-chart-bar-32"></i>
          <!-- Left 1 -->
          <i class="icon icon-sm">
            <img src="../../../assets/img/brand/logo_its_academy.png" style="width:78px; height:78px">
          </i>
          <i class="icon icon-sm ni ni-paper-diploma"></i>
          <i class="icon icon-sm ni ni-hat-3"></i>
          <!-- Left 2 -->
          <i class="icon ni ni-calendar-grid-58"></i>
          <i class="icon ni ni-archive-2"></i>
          <i class="icon ni ni-books"></i>
        </div>
        <img class="blur-hidden" src="../../../assets/img/brand/logo_gray.png" style="width:50%;  ">

        <!--
          in case of showing a bare

        <div class="blur-hidden" style="background-color:rgba(123, 127, 129, 0.219)">
          <span class="h2 text-primary text-center">Centre de formations des experts</span>
        </div>
                -->
    </div>
    
    <div class="row justify-content-center" style="margin-top: 60px;">
      <div class="col-lg-12 text-left">
        <h1 class="display-3"  style="font-size : 16px;color:#0271bb;">
          <i class="fa fa-check"></i> Grace à notre équipe d’expert certifiés et reconnus par SAP on vous offre un large choix de formations dans les différents modules de SAP S/4 HANA.
        </h1>
      </div>
    </div>
  
  </div>
</section>
