<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-12" [routerLink]="['/home']">
      <img src="./assets/img/brand/LogoAcademy-horizontal.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/LogoAcademy-horizontal.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <!-- item dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="#">
            <i class="fa fa-home"></i>
            <span class="nav-link-inner--text">ACCEUIL</span>
          </a>
        </li>   
        <!-- item dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">
            <i class="fa fa-graduation-cap"></i> NOS FORMATIONS</a>
          <div class="dropdown-menu ">
            <a class="dropdown-item" href="/trainingDetails/5">SAP ABAP</a>
            <a class="dropdown-item" href="/trainingDetails/2">SAP MM</a>
            <a class="dropdown-item" href="/trainingDetails/4">SAP SD</a>
        
          </div>
        </li>
        <!-- item dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="#">
            <i class="fa fa-file-text"></i>
            <span class="nav-link-inner--text">REFERENCES</span>
          </a>
        </li>
        <!-- item dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="/#contact">
            <i class="fa fa-handshake-o"></i>
            <span class="nav-link-inner--text" >CONTACTEZ NOUS</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <form class="form-inline waves-dark" mdbWavesEffect>
          <div class="md-form my-2">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button"  style="background: transparent;">
              <i class="fa fa-search" style="font-size: 1.2rem"></i>
            </a>
          </div>
        </form>
      </ul>
    </div>
  </div>
</nav>
