<section section-lg section-hero section-shaped>
    <div class="container container-lg " >
     <div *ngIf="status==1;else elseBlock" class="row">
       <!-- <div *ngFor="let training of trainings" class="card col-md-3 col-sm-3 col-xs-3 col-lg-3 col-xl-3 mt-5 ml-2">
          <img class="card-img-top" [src]="training.src" alt="Card image cap">
          <h2 class="card-title">{{training.title|uppercase}}</h2>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link">Details</a>
          </div>
        </div>--> 
        
          <mat-card *ngFor="let training of trainings" class="text-center col-md-3 col-sm-3 col-xs-3 col-lg-3 col-xl-3 col-lg-pull col-lg-push mr-5 ml-5 mt-5 ">
            <img mat-card-image [src]="training.src" alt="Photo of a Shiba Inu">
            <mat-card-content >
              <mat-card-title>{{training.title|uppercase}}</mat-card-title>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button color="primary">Details</button>
            <!--  <mat-card-footer >{{training.price}}</mat-card-footer>
            <button mat-raised-button color="accent">{{training.price}}</button>-->
            <label class="price">{{training.price}}</label>
            </mat-card-actions>
            
          </mat-card>
      </div>
      <ng-template #elseBlock><h2 class="heading mt-4 mr-5 ml-5 text-center">Cannot get data from the server ! maybe you should try again later !</h2></ng-template>
    </div>
  </section>