<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <!-- Inscription part -->
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-2 text-white" style="font-size: 36px;">Bienvenue sur
            </h3>
            <h3 class="display-3 text-light" style="font-size: 36px; margin-bottom: 30px;">IT-Solution R.EN Academy
            </h3>
            <p class="lead text-white">The Design System comes with four pre-built pages to help you get
               started faster. You can change the text and images and you're good to go. More importantly,
                looking at them will give you a picture of what you can built with this powerful Bootstrap 4
                 Design System.</p>
          </div>
          <div class="col-lg-5 mb-lg-auto">
            <div class="transform-perspective-right">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-gradient-primary">
                  <div class="text-muted text-center">
                    <h3 class=" text-white" style="font-size: 28px; margin-bottom: 0px;">Etre un membre de la communauté</h3>
                  </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <form #subscribeForm="ngForm" (ngSubmit)="subscribeClient(subscribeForm.value)">
                    <!-- Name -->
                    <div><em *ngIf="subscribeForm.controls.name?.invalid && (subscribeForm.controls.name?.touched)">Required</em></div>
                    <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                        </div>
                        <input [(ngModel)]="name" required minlength="4" class="form-control" placeholder="Name" type="name" name="name" (focus)="focus=true" (blur)="focus=false">
                      </div>
                    </div>
                    <div> <em *ngIf="subscribeForm.controls.email?.invalid && (subscribeForm.controls.email?.touched)">Required</em></div>
                    <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input [(ngModel)]="email" required  ngModel email class="form-control" placeholder="Email" type="email" name="email" (focus)="focus=true" (blur)="focus=false">
                      </div>
                    </div>
                    <div><em *ngIf="subscribeForm.controls.phone?.invalid && (subscribeForm.controls.phone?.touched)">Required</em></div>
                    <div class="form-group" [ngClass]="{'focused':focus1===true}">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                        </div>
                        <input [(ngModel)]="phone" required minlength="10" maxlength="12" pattern="[0-9]*" class="form-control" placeholder="Phone" type="phone" name="phone" (focus)="focus1=true" (blur)="focus1=false">
                      </div>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id=" customCheckLogin2" type="checkbox">
                      <label class="custom-control-label" for=" customCheckLogin2">
                        <span>J'accepte les conditions d'inscription</span>
                      </label>
                    </div>
                    <div class="custom-control custom-control-alternative">
                      <label>
                        <u (click)="open(classic2, 'Notification', '')">Conditions</u>
                       <ng-template #classic2 let-c="close" let-d="dismiss">
                         <div class="modal-content bg-gradient-primary">
                           <div class="modal-header">
                             <h2 class="modal-title" id="modal-title-notification" style="margin-bottom: 0px;">Conditions d'utilisation</h2>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                               <span aria-hidden="true">×</span>
                             </button>
                           </div>
                           <div class="modal-body">
                             <div class="py-3 text-center">
                               <i class="ni ni-bell-55 ni-3x"></i>
                               <h4 class="heading mt-4">Condition IT-Solution R.EN Academy</h4>
                               <p>Vous accepter de reçevoir des emails de l'apart de notre centre pour vous notifier des nouvelles formations</p>
                             </div>
                           </div>
                           <div class="modal-footer">
                             <button type="button" class="btn btn-white text-primary" data-dismiss="modal" (click)="c('Close click')" >J'accepte</button>
                             <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Feremr</button>
                           </div>
                         </div>
                       </ng-template>
                      </label>
                    </div>
                  
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary my-2"[disabled]="!subscribeForm.valid">S'inscrire</button>
                
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-training></app-training>
  <app-sections></app-sections>
  <app-contact-us></app-contact-us>
  
</main>
