<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3 style="color: #0271bb;">ITSREN - Academy</h3>
          <p>Nowadays the World of Business changes fast, companies have to be smarter,faster.agile, and innovative than Competitors. SAP S/4 HANA, SAP next-generation Business suite was developed to help them to achieve those targets. Our Company IT-SOLUTION R.EN will help you to immigrate to S/4 HANA System or implement your ERP System ,Step by Step, and ensure high Quality of Training for your Employees.</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Accueil</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#services">Nos formations</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#about">Références</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Contactez nous</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact</h4>
          <p>
            SIEGE SOCIAL : RUE SOUMAYA
            RESIDENCE SHEHRAZADE 3 5ème ETAGE N° 22
            PALMIERS BD Abdelmoumen CASABLANCA, MOROCOO<br>
            <strong style="color: #0271bb;">Phone (MA) : </strong> +212 701 841 293<br>
            <strong style="color: #0271bb;">Phone (ALL) : </strong> +49 15 168 682 934<br>
            <strong style="color: #0271bb;">Email : </strong> contact@itsren-academy.com <br>
          </p>

          <div class="social-links">
            <a href="https://www.facebook.com/IT-Solution-REN-Academy-104512628320697/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://wa.me/212620241543" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/company/itsolution-ren" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>
        
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>IT-Solution R.EN</strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </div>
</footer>
